%input-prototype {
    background-color: #ffffff;
    color: #2f2f2f;
    @extend %font-size-12;
    @extend %font-weight-normal;
    border: 1px solid #848484;
    padding: 4.5px 0 4.5px 10px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
        border: 1px solid #000000;
        outline: 0;
    }
    &:disabled {
        border: 1px solid #aeaeae;
        color: rgba(47, 47, 47, 0.5);
    }
}

input {
    &[type=text],
    &[type=email] {
        @extend %input-prototype;
        &.text-error {
            border-color: #c1272d;
        }
    }
    &[type=checkbox],
    &[type=radio] {
        margin-right: 10px;
    }
}

select {
    @extend %input-prototype;
}

button {
    @extend %font-size-14;
    @extend %font-weight-normal;
    height: 30px;
    min-width: 80px;
    text-align: center;
    padding: 0 22px;
    border: 1px solid #707070;
    background-color: #ffffff;
    color: #2f2f2f;
    &:nth-last-child(n+2) {
        margin-right: 8px;
    }
    &:hover:enabled {
        color: #707070;
    }
    &:disabled {
        border: 1px solid #aeaeae;
        color: #aeaeae;
    }
    &:active:enabled {
        border: 2px inset #2f2f2f;
        color: #2f2f2f;
        padding: 0 21px;
    }
    &:focus {
        outline: 0;
    }
    &.cancel {
        border: 1px solid #2f2f2f;
        color: #2f2f2f;
    }
    &.howToEncrypt{
        margin-top: 20px;
    }
}