%drop-down-bar {
    position: fixed;
    overflow-y: auto;
    max-height: 150px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #848484;
    outline: 0;
    margin-top: -1px;
    border-top: 0;
    z-index: 20;
    .menu-item {
        display: flex;
        padding: 0 10px;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 24px;
        height: 24px;
        &:hover {
            background-color: #defefd;
            color: #585858;
        }
        &-selected {
            width: 20px;
            padding-right: 10px;
            @extend %qnote-center;
        }
        &-name {
            flex: 1;
            @extend %qnote-no-wrap;
        }
        &-normal-selected {
            background-color: #defefd;
            color: #585858;    
        }
    }
}

.drop-down-menu {
    @extend %font-size-12;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #848484;
    height: 24px;
    line-height: 24px;
    min-width: 130px;
    max-width: 100%;
    background-color: #FFF;
    padding: 0 20px 0 10px;
    color: #2f2f2f;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &-disable {
        border: 1px solid #aeaeae;
        color: #aeaeae;
        cursor: default;
    }
    .text {
        @extend %qnote-no-wrap;
        box-sizing: border-box;
        text-align: center;
        resize: horizontal;
        width: 100%;
        padding: 0;
        outline: 0;
        border: 0;
        &::-ms-clear {
            display: none;
        }
        &:focus {
            border: 0;
        }
    }
    .drop-down-btn {
        @extend %qnote-center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
    .drop-down-bar-container {
        position: absolute;
        left: -1px;
        width: 100%;
        .drop-down-bar {
            @extend %drop-down-bar;
        }
    }
}
