@import './itemMenu.css';
.sidebar-header {
    display: flex;
    align-items: center;
    height: 55px;
    min-height: 55px;
    box-sizing: border-box;
    padding: 28px 20px 5px 20px;
    position: relative;
    border-bottom: 1px solid #2f2f2f;
    .left-btn-container {
        display: flex;
        height: 20px;
        div[class^=icon-] {
            margin-right: 6px;
        }
        .icon-sidebar-btn_menu_section_back_normal {
            cursor: pointer;
        }
    }
    .title {
        flex: 1 1;
        color: #ffffff;
        @extend %font-size-16;
        @extend %qnote-no-wrap;
    }
    .right-btn-container {
        flex: 0 0 20px;
        height: 20px;
        div[class^=icon-] {
            cursor: pointer;
            margin-left: 6px;
        }
    }
}
.note-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    .sidebar-site-note-header {
        @extend %font-size-13;
        min-height: 22px;
        height: 22px;
        margin: 10px 0 5px 0;
        padding: 0 20px;
        box-sizing: border-box;
        .site-tag {
            background-color: #444444;
            box-sizing: border-box;
            display: inline-block;
            border-radius: 4px;
            color: #c3c3c3;
            line-height: 22px;
            min-height: 22px;
            height: 22px;
            max-width: 100%;
            padding: 0 10px;
            outline: none;
            vertical-align: middle;
            .site-name {
                @extend %qnote-no-wrap;
                max-width: 250px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                white-space: nowrap;
            }
            div[class^=icon-] {
                margin-right: 6px;
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
    .note-item {
        height: 106px;
        min-height: 106px;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #2f2f2f;
        cursor: pointer;
        position: relative;
        .item-container {
            display: flex;
            box-sizing: border-box;
            height: 100%;
            width: 330px;
            padding: 10px 0 10px 20px;
            position: absolute;
            left: 0;
            .content {
                flex: 1;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                width: 200px;
                max-width: 310px;
                color: #DADADA;
                z-index: 4;
                .title {
                    display: flex;
                    box-sizing: border-box;
                    min-height: 15px;
                    div {
                        margin-right: 5px;
                    }
                    span {
                        @extend %font-size-15;
                        @extend %qnote-no-wrap;
                        color: #ffffff;
                    }
                }
                .date {
                    @extend %font-size-12;
                    margin-top: 3px;
                    min-height: 12px;
                    box-sizing: border-box;
                    color: #e35151;
                    line-height: 15px;
                    overflow: hidden;
                }
                .text {
                    @extend %font-size-12;
                    margin-top: 4px;
                    box-sizing: border-box;
                    color: #828282;
                    line-height: 1.3em;
                    height: 3.8em;
                    overflow: hidden;
                    overflow-wrap: break-word;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    text-align: justify;
                    text-justify: inter-ideograph;
                }
                em {
                    font-style: normal;
                    background: #c6e871;
                    color: #000;
                    font-weight: bolder;
                    padding-right: 1px;
                    box-sizing: border-box;
                }
            }
            .content-right {
                @extend %qnote-center-vertical;
                height: 100%;
                margin-left: 14px;
                position: relative;
                .img {
                    height: 74px;
                    width: 74px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .item-menu {
                @extend .icon-sidebar-btn_menu_note_dropdown_normal;
                position: absolute;
                right: 20px;
                top: 35px;
                z-index: 5;
                visibility: hidden;
            }
        }
        .mask {
            background-color: rgba(51, 51, 51, 0.9);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            visibility: hidden;
            transition: all 50ms ease-in-out;
        }
    }
    .note-item-hover {
        visibility: visible !important;
        .icon-sidebar-ic_menu_encrypt_normal {
            @extend .icon-sidebar-ic_menu_encrypt_hover;
        }
    }
    .note-item-selected {
        background-color: #000000;
    }
}